<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!-- <suite name="AllTestsSuite" verbose="1"> -->
    <suite name="Annotation Execution Suite" >
        <test name="Booking API Test">
        <parameter name="program"  value="Bootcamp API Automation"/>
            <classes>
                <class name="testCase.happyFlow"/>
                <class name="testCase.negativeFlow"/>
            </classes>
        </test>
    </suite>
<!-- </suite> -->